/*=============
    Global
  ============*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: solid 0.10rem hsla(0, 0%, 3%, 0.2); */
}

:root {
    --blue: hsl(200, 80%, 50%);
    --green: hsl(100, 50%, 80%);
    --text-dark: hsl(0, 0%, 30%);
    --text-light: hsl(0, 0%, 55%);
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    background-color: hsl(41, 85%, 70%);
}

/*=============
    Typography
  ============*/

  h3 {
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--text-dark);
  }

  .card--number,
  .card--valid-date {
    font-size: .9rem;
    color: var(--text-light);
  }

  .balance--price {
      font-weight: 500;
      font-size: 1.25rem;
  }

  .item--price {
      font-weight: 800;
      font-size: .9rem;
  }

  .item--order {
      font-size: .8rem;
      color: var(--text-light);
      line-height: 2;
  }

  .item--img {
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 50%;
  }

  /* Utility classes */

  .clr--green {
      color: var(--green);
  }

  .clr--blue {
      color: var(--blue);
  }

/*=============
    Layout
  ============*/
.main {
    height: 450px;
    width: 900px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.main__container {
    height: 100%;
    display: flex;
}

/* Container wallets */

.main__container--wallets {
    height: 100%;
    width: 40%;
    background-color: hsl(0, 0%, 95%);
    overflow-y: auto;
}

.wallets--header {
    height: 6.5em;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallets--content--card {
    width: 65%;
    margin: 0 auto 2em auto;
    height: 7.8em;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 70%);
    background: hsl(0, 0%, 100%);
    padding: 1.15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
}

.wallets--content--card:nth-child(2),
.wallets--content--card:hover {
    border: 1px solid hsl(200, 60%, 50%);
}

.card--img {
    height: 2.2em;
    margin-bottom: .8em;
}


/* Container balance */

.main__container--balance {
    height: 100%;
    width: 65%;
    overflow: auto;
}

.balance--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    height: 6.5em;
    position: relative;
}

.balance--header::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 5%;
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: hsl(0, 0%, 85%);;
}

.balance--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.item--details {
    flex-grow: 1;
    margin: 0 2em;
}