* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: solid 0.25rem rgba(49, 47, 47, 0.5); */
}

body {
    height: 100vh;
    background-color: hsl(114, 41%, 32%);
    font-family: Roboto, sans-serif;
}

.main {
    height: 500px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    background-image: url('img/bicycle.png');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: 0 210px;
}

.main__content {
    padding: 40px 50px 0 50px;
}

.main__content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: hsl(0, 1%, 27%);
}

.title--image {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 200ms;
}

.title--image:hover {
    box-shadow: 0 0 3px 2px hsla(0, 0%, 30%, .5);
}

.main__content-message {
    padding: 20px 0;
    font-size: .9rem;
    margin-bottom: 30px;
    color: hsl(0, 0%, 70%);
}

.main__content-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.item--title {
    color: hsl(0, 0%, 42%);
    font-weight: 200;
}

.main__content .main__content-item:nth-child(5) {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: rgb(150, 61, 61);
}

