:root {
    --text-main: hsl(0, 0%, 50%);
    --text-bold: hsl(0, 0%, 20%);
    --text-light: hsl(0, 0%, 70%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: .10rem solid hsla(0, 0%, 0%, .5); */
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
/*==================
Main Container
===================*/
.main {

}
/*==================
Header
===================*/
.header {
    display: grid;
    grid-template-columns: 2fr 1.5fr 3fr 1fr 2fr;
    
}
/* Logo */

.header__logo,
.header__search-box,
.header__nav,
.header__icons,
.header__user-avatar {
    display: flex;
    align-items: center;
    height: 80px;
    border: 1px solid hsl(0, 0%, 95%);
}

.header__logo {
    position: relative;
    /* width: 20%; */
}

.logo {
    width: 35px;
    position: absolute;
    right: 20px;
}
/* Search Box */

.header__search-box {
    position: relative;
    /* width: 15%; */
}

.search-box {
    font-size: .8rem;
    padding: 8px;
    margin: 0 auto;
    border-radius: 100px;
    border: 1px solid hsl(0, 0%, 70%);
}

.search-icon {
    position: absolute;
    right: 70px;
    color: var(--text-main);
}
/* Navigation */

.header__nav {
    justify-content: flex-start;
}

.nav__list {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.nav__list-item a {
    font-size: 1.25rem;
    font-weight: 100;
    text-decoration: none;
    color: var(--text-main);
    margin-left: 30px;
}

.nav__list-item a:hover {
    color: var(--text-bold);
}

.premium a {
    color: hsl(22, 121%, 64%);
}

/* Header Icons */

.header__icons {
    font-size: 1.25rem;
    justify-content: space-around;
}

.chat-icon {
    color: hsl(120, 50%, 60%);
}

.notification-icon {
    color: hsl(50, 77%, 60%);
}

.person-icon {
    color: hsl(300, 76%, 43%);
}

/* Header Avatar */

.user-avatar {
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

/* Header Feed Navigation */

.feed__nav {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
}

.feed__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.feed__nav-list-item a {
    font-weight: 200;
    margin-left: 35px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--text-main);
}

.feed__nav-list-item a:hover {
    color: var(--text-bold);
    border-bottom: 2px solid hsl(211, 52%, 56%);
}