*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: .10rem solid hsla(0, 0%, 0%, .5);
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}