*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: .10rem solid hsla(0, 0%, 0%, .4); */
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: hsl(0, 0%, 20%);
}

.main {
    height: 650px;
    width: 500px;
    background-color: hsl(50, 80%, 60%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2em;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__top {
    display: flex;
    justify-content: space-between;
    padding: 0 2em 0 2em;
}

.main__middle {
    height: 450px;
    width: 500px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 6px 14px 5px hsla(0, 0%, 0%, .3);
    position: relative;
    left: 2em;
}

form {
    margin-top: 2em;
    padding: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    display: block;
    color: hsl(0, 0%, 70%);
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: 5px;
}

input {
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 85%);
    width: 100%;
    font-size: .9rem;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

textarea {
    border: none;
    width: 100%;
    height: 60%;
    border-bottom: 1px solid hsl(0, 0%, 85%);
    font-family: inherit;
}

.profile-pic {
    width: 4em;
    border-radius: 50%;
    position: absolute;
    top: -2em;
    left: 2em;
}

.main__bottom {
    display: flex;
    justify-content: flex-end;
}

.bottom-link {
    margin-right: 2em;
    text-decoration: none;
    color: hsl(0, 0%, 25%);
}